.mdl-layout__content {
  padding: 56px;
}

body {
  background-color: #F5F5F5;
}

.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
}

.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}

.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
