body {
	text-align: center;
	background-image: url("http://subtlepatterns.com/patterns/geometry2.png");
}

h1 {
	font-family: 'Signika Negative', sans-serif;
	color: #FF5252;
	text-align: center;
	font-size: 60px;
	position: relative;
    top: -10px;
}

.footer {
	background-color: #FF5252;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	height: 48px;
	margin-bottom: 0px;
	margin-left: -10px;
	margin-right: 0px;
	margin-top: -9px;
	padding-bottom: 13px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 14px;
	width: 1285px;
}

h2 {
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    top: -14px;
    font-family: 'Lato', sans-serif; font-weight: 300
}

.instructions {
    font-family: 'Signika Negative', sans-serif;
	color: #4D4C4C;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	position: relative;
    top: -25px;
}

.smalltext {
     font-family: 'Signika Negative', sans-serif;
	color: #4D4C4C;
	text-align: center;
	font-weight: 100;
	font-size: 20px;
	font-weight: bold;
	position: relative;
    top: -15px;
}

.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #FF5252;
}

.button-success:hover {
  background: #
}

.buttontext {
	font-family: 'Signika Negative', sans-serif;
	position: relative;
	right: 30px;
}

.button {
	font-family: 'Signika Negative', sans-serif;
	font-family: Sans-serif;
    font-size: 20px;
    height: 60px;
    width: 130px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
}

.button:hover {
	background: #3071A9
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
    height: 60px;
    width: 141px;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}