<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>
	<body>
	    <div class="footer">
			<h2>Are you bored? Then you've come to the right place! Welcome to I'm bored! Follow the simple instructions below to fix your boredom.</h2>
		</div>
		<div class="header"></div>
		<div class="wrapper">
			<h1>Help me I'm bored!</h1>
		</div>
		<div class="instructions">Instructions</div>
		    <br>
		<div class="smalltext">Simply enter your postal code and town name and I will show you some awesome events available<br> to you. Don't know your postal code? Use www.whatismyzip.com and it'll tell you!</div>
		<div>
    <style scoped>
    </style>
    </div>
        <br>
         <form action="#">
         <p class="buttontext"><label for="pcode">Post code</label> <input type="text" id="pcode" name="pcode" /></p>
         <form action="#">
         <p class="buttontext"><label for="town">The town</label> <input type="text" id="town" name="town" /></p>
         <button class="button">Search!</button>
	</body>
</html>