{% extends "layout.html" %}
{% block content %}



		<h1>Help me, I'm bored!</h1>
		<div class="instructions">Instructions</div>
		<br>
		<div class="smalltext">Simply enter your town name and I will show you some awesome events available<br> to you.</div>
    <br>
    <form action="/results" method="POST">
    <p><label for="town">Town</label> <input type="text" name="town" /></p>
    <p><label for="datepicker">Date</label>
    <input type="text" id="datepicker" name="date"></p>
    <button class="button" type="submit">Search!</button>
	</form>
	<script src="static/js/pikaday.js"></script>
    <script>

    var picker = new Pikaday(
    {
        field: document.getElementById('datepicker'),
        firstDay: 1,
        minDate: new Date('2000-01-01'),
        maxDate: new Date('2020-12-31'),
        yearRange: [2000,2020]
    });

    </script>
{% endblock %}