<html>
	<head>
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" />
        <link rel="stylesheet" href="static/css/material.min.css">
        <script src="static/js/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="static/css/styles-md.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>I'm Bored</title>
        
	</head>
	<body>
		</div>
		<div class="header"></div>
		<div class="wrapper">
			{% block content %}
			{% endblock %}
		</div>
			
			
	</body>
</html>
