<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=RobotoDraft' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="static/css/pikaday.css" />
		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
	</head>
	<body>
	    <div class="footer">
			<h2>Are you bored? Then you've come to the right place! Welcome to I'm Bored! Follow the simple instructions below to fix your boredom.</h2>
		</div>
		<div class="header"></div>
		<div class="wrapper">
			{% block content %}
			{% endblock %}
		</div>
			
			
	</body>
</html>
